---
import Footer from "@/components/layout/footer.astro";
import Header from "@/components/layout/header.astro";
import { MainNavigationMenu } from "@/components/main-navigation-menu";
import { cn } from "@/lib/utils";
import BaseLayout from "./base-layout.astro";
import { SheetMobileNav } from "@/components/layout/sheet-mobile-nav";
import { navMenuConfig } from "@/config/nav-menu";
import { ThemeToggle } from "@/components/theme-toggle";
import { siteConfig } from "@/config/site";
import { Icon } from "astro-icon/components";
// import { marketingConfig } from "@/config/marketing";
// import MainNav from "@/components/layout/main-nav.astro";

type Props = {
  title: string;
  description?: string;
  mainClass?: string;
};

const { title, description, mainClass } = Astro.props;
---

<BaseLayout title={title} description={description}>
  <Header className="border-b">
    <!-- if using only normals links  -->
    <!-- <MainNav items={marketingConfig.mainNav} slot="left-header" />
    <SheetMobileNav
      mainNavItems={marketingConfig.mainNav}
      slot="mobile-nav-header"
      client:load
    /> -->

    <!-- if use Navigation Menu on desktop -->
    <MainNavigationMenu slot="left-header" client:load />
    <SheetMobileNav
      
      sidebarNavItems={[
        ...navMenuConfig.OpenUSD,
        ...navMenuConfig.Artstation,
      ]}
      slot="mobile-nav-header"
      client:load
    />

    <div class="flex items-center gap-x-4" slot="right-header">
      <a
        href={siteConfig.links.github}
        target="_blank"
        rel="noreferrer"
        aria-label="github"
      >
        <Icon name="github" class="size-[22px]" />
      </a>
      <ThemeToggle client:load />
    </div>
  </Header>
  
    
   
    
    
   
  
  <main class={cn(mainClass)}>
    <slot />
  </main>
  <style>
    :root {
      --accent-gradient: linear-gradient(50deg, #cc5de8, #845ef7, #5c7cfa, #339af0, #22b8cf);
      --accent-light: 255, 255, 255;
      --accent-dark: 0, 0, 0;
    }
    main {
      margin: auto;
      padding: 1rem;
      width: 800px;
      max-width: calc(100% - 2rem);
      color: rgb(0, 0, 0);
      font-size: 20px;
      line-height: 1.6;
    }
    .astro-a {
      position: absolute;
      top: -32px;
      left: 50%;
      transform: translatex(-50%);
      width: 220px;
      height: auto;
      z-index: -1;
    }
    h1 {
      font-size: 4rem;
      font-weight: 700;
      line-height: 1;
      margin-bottom: 1em;
    }
    .text-gradient {
      background-image: var(--accent-gradient);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-size: 400%;
      background-position: 0%;
    }
    .instructions {
      margin-bottom: 2rem;
      border: 1px solid rgba(var(--accent-light), 25%);
      background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
      padding: 1.5rem;
      border-radius: 8px;
    }
    .instructions code {
      font-size: 0.8em;
      font-weight: bold;
      background: rgba(var(--accent-light), 12%);
      color: rgb(var(--accent-light));
      border-radius: 4px;
      padding: 0.3em 0.4em;
    }
    .instructions strong {
      color: rgb(var(--accent-light));
    }
    .link-card-grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
      gap: 2rem;
      padding: 0;
    }
  </style>
  <Footer />

